Repository gdsc-ssu/gdgoc-weve-client, pull requests merged in 2025-03, with the labels that each got.

#10 [Design] Junior Component
  assets/banner/banner_1.svg
  assets/banner/banner_2.svg
  assets/icons/junior_profile.svg
  assets/icons/lan_radio_off.svg
  assets/icons/lan_radio_on.svg
  assets/image/image_blank.svg
  assets/image/image_middle_line.svg
  assets/image/image_middle_line_left.svg
  assets/image/image_middle_line_right.svg
  assets/image/image_write_bottom.svg
  assets/image/image_write_full.svg
  assets/image/image_write_top.svg
  lib/commons/presentation/main_screen.dart
  lib/commons/widgets/header/view/header_widget.dart
  lib/commons/widgets/junior/banner/view/banner1.dart
  lib/commons/widgets/junior/banner/view/banner2.dart
  lib/commons/widgets/junior/box/view/chat_box.dart
  lib/commons/widgets/junior/box/view/input_box_worry.dart
  lib/commons/widgets/junior/button/view/button.dart
  lib/commons/widgets/junior/button/view/junior_profile_button.dart
  lib/commons/widgets/junior/button/view/select_language_button.dart
  lib/commons/widgets/junior/button/view/senior_profile_button.dart
  lib/commons/widgets/junior/button/viewmodel/select_language_provider.dart
  lib/commons/widgets/junior/header/view/header.dart
  lib/commons/widgets/junior/input/view/input_field.dart
  lib/commons/widgets/junior/input/view/input_header.dart
  lib/commons/widgets/junior/list_item/view/list_item_complete.dart
  lib/commons/widgets/junior/list_item/view/list_item_responsed.dart
  lib/commons/widgets/junior/list_item/view/list_item_waiting.dart
  lib/core/constants/custom_icon.dart
  lib/core/constants/custom_svg_image.dart
  lib/features/junior/presentation/views/junior_home_screen.dart
  pubspec.yaml
Labels: Feat, Design

#11 [Design] Senior Component
  assets/audio/.gitkeep
  assets/icons/senior_audio.svg
  assets/icons/senior_microphone.svg
  assets/icons/senior_record.svg
  ios/Podfile
  ios/Podfile.lock
  ios/Runner.xcodeproj/project.pbxproj
  ios/Runner/Info.plist
  lib/commons/widgets/junior/button/view/letter_button_off.dart
  lib/commons/widgets/junior/button/view/letter_button_on.dart
  lib/commons/widgets/senior/button/view/button.dart
  lib/commons/widgets/senior/button/view/sound_button.dart
  lib/commons/widgets/senior/button/view/soundplayer_button.dart
  lib/commons/widgets/senior/button/view/speech_button.dart
  lib/commons/widgets/senior/button/view/thick_button.dart
  lib/commons/widgets/senior/header/view/profile_header.dart
  lib/commons/widgets/senior/input/view/input_box.dart
  lib/commons/widgets/senior/input_profile/view/question_box.dart
  lib/commons/widgets/senior/input_profile/view/stt_box.dart
  lib/commons/widgets/senior/list_item/view/list_item.dart
  lib/commons/widgets/senior/login/view/input_field.dart
  lib/core/constants/colors.dart
  lib/core/constants/custom_icon.dart
  lib/core/constants/custom_svg_image.dart
  lib/features/junior/presentation/views/junior_home_screen.dart
  linux/flutter/generated_plugin_registrant.cc
  linux/flutter/generated_plugins.cmake
  macos/Flutter/GeneratedPluginRegistrant.swift
  pubspec.lock
  pubspec.yaml
  windows/flutter/generated_plugin_registrant.cc
  windows/flutter/generated_plugins.cmake
Labels: Feat, Design

#14 [Senior] Senior input,login 스크린 작업
  lib/commons/widgets/senior/button/view/button.dart
  lib/commons/widgets/senior/button/view/soundplayer_button.dart
  lib/commons/widgets/senior/input_profile/view/question_box.dart
  lib/commons/widgets/senior/input_profile/view/stt_box.dart
  lib/features/senior/presentation/views/home/senior_home_screen.dart
  lib/features/senior/presentation/views/input/senior_input_birth_screen.dart
  lib/features/senior/presentation/views/input/senior_input_career_screen.dart
  lib/features/senior/presentation/views/input/senior_input_struggle_screen.dart
  lib/features/senior/presentation/views/input/senior_input_value_screen.dart
  lib/features/senior/presentation/views/login/senior_login_screen.dart
  lib/main.dart
Labels: Feat, Design

#25 [Feat] 주니어 작성 페이지 로직 디자인 구현 완료
  lib/commons/presentation/index_screen.dart
  lib/commons/presentation/language_screen.dart
  lib/commons/presentation/splash_screen.dart
  lib/commons/widgets/header/view/header_widget.dart
  lib/commons/widgets/junior/box/view/input_box_worry.dart
  lib/core/constants/custom_animation_image.dart
  lib/core/localization/junior_localizations.dart
  lib/features/junior/presentation/views/junior_main_screen.dart
  lib/features/junior/presentation/views/junior_success_screen.dart
  lib/features/junior/presentation/views/junior_write_screen.dart
Labels: Design

#26 [Feat] 주니어 홈 페이지 디자인 구현 완료
  assets/banner/banner1_en.svg
  assets/banner/banner1_jp.svg
  assets/banner/banner1_kr.svg
  assets/banner/banner2_en.svg
  assets/banner/banner2_jp.svg
  assets/banner/banner2_kr.svg
  lib/commons/widgets/junior/banner/view/banner1.dart
  lib/commons/widgets/junior/banner/view/banner2.dart
  lib/commons/widgets/junior/banner/view/banner_widget.dart
  lib/core/constants/custom_banner_images.dart
  lib/core/constants/custom_svg_image.dart
  lib/core/localization/junior_localizations.dart
  lib/features/junior/presentation/views/junior_home_screen.dart
  pubspec.yaml
Labels: Design

#30 FEAT: 로그인 - 홈화면 - 고민상세 로직개발 & 퍼블리싱 & Navigator 연결
  lib/commons/presentation/main_screen.dart
  lib/commons/widgets/header/view/header_widget.dart
  lib/commons/widgets/senior/button/view/sound_button.dart
  lib/commons/widgets/senior/button/view/soundplayer_button.dart
  lib/commons/widgets/senior/input_profile/view/question_box.dart
  lib/core/constants/colors.dart
  lib/features/senior/presentation/views/home/senior_home_screen.dart
  lib/features/senior/presentation/views/input/senior_input_birth_screen.dart
  lib/features/senior/presentation/views/input/senior_input_career_screen.dart
  lib/features/senior/presentation/views/input/senior_input_struggle_screen.dart
  lib/features/senior/presentation/views/input/senior_input_value_screen.dart
  lib/features/senior/presentation/views/letter/senior_letterbox_screen.dart
  lib/features/senior/presentation/views/login/senior_login_screen.dart
  lib/features/senior/presentation/views/my/senior_my_screen.dart
  lib/features/senior/presentation/views/senior_home_screen.dart
  lib/features/senior/presentation/views/senior_main_screen.dart
  lib/features/senior/presentation/views/worries/senior_worry_detail.dart
Labels: Feat
